# Copy this file to ".env" for local development.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-me-for-local-dev
###< symfony/framework-bundle ###

###> app/database ###
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=voyage
DB_USER=root
DB_PASSWORD=
###< app/database ###
